
		<section class="container">

			<section class="hero-unit">
				<h1>Benvingut a Lancing market!</h1>
				<br>
				<br>
  				<p>This is a mock-up wireframe yet. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  				tempor incididunt ut labore et dolore magna aliqua.</p>
  				<br>
				<br>
				<p>
					<a class="btn btn-primary btn-large">
				    	Pricing &amp; Terms
				    </a>
				</p>
			</section>
		</section>
</body>
<script>
	$(document).ready(function() {
		inserta_footer();
	});
</script>