
	<section class="container">
		<section class="center span8">
			<h1>Afegir un projecte</h1>
			<br>
			<br>
			<%= render 'form' %>
		</section>
	</section>
</body>
<footer>
</footer>
<script>
		indice = 1;

		function remove_milestone(id) {
			$('#'+id).remove();
			refresh_counter();
		}

		function refresh_counter() {
			var sum = 0;
			$(".import").each(function() {
				if( (!isNaN( $(this).val() ) ) && ( $(this).val() != null ) && ( $(this).val() != "" ) ) sum += parseInt($(this).val());
			});
			$("#counter").val(sum);
		}

		$("#add_milestone").click(function(event){
			indice += 1;
			event.preventDefault();
			$("#milestones").append('<div id="milestone_'+indice+'"><br><label for="milestone_'+indice+'_Numero:">Numero:</label><input class="span3" id="milestone_'+indice+'_number" name="milestone['+indice+'][number]" placeholder="Entra un nombre per a la fita" type="number"><span class="help-inline">Només caràcters numèrics permesos!</span><label for="milestone_'+indice+'_Import:">Import:</label><input class="import span3" id="milestone_'+indice+'_import" name="milestone['+indice+'][import]" onchange="refresh_counter();" placeholder="Entra un import per a la fita" type="number"><span class="help-inline">Només caràcters numèrics permesos!</span><label for="milestone_'+indice+'_Descripció:">Descripció:</label><textarea class="input-xxlarge" cols="4'+indice+'" id="textarea" name="milestone['+indice+'][description]" placeholder="Escriu una descripció detallada de la fita" rows="3"></textarea><span class="help-inline">Només caràcters alfanumèrics permesos!</span><br><br><a class="btn btn-danger remove_milestone" href="#" onclick="remove_milestone(\'milestone_'+indice+'\'); return false;"><i class="icon-trash icon-white"></i> Eliminar aquesta fita</a><br></div>');
		});

		$(document).ready(function(){
				inserta_footer();
		});
		
	
</script>
</html>